{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css', _external=True) }}">
{% endblock %}
{% block title %}
    首页
{% endblock %}

{% block main %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					欢迎来到电影分享社区
				</h1>
				<p>
					请先登录您的账号，新用户可以点击下方按钮进行注册
				</p>
				<p>
					 <a href="{{ url_for('get_register') }}">注册</a>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}



