{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block title %}
    {{title}}
{% endblock %}

{% block main %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h3>
				{{title}}
			</h3>
			<p>
                 <img src= '{{cover}}' />
                 <br>
                 <br>
				 片名：{{title}}
				 <br>
				 年代：{{year}}
				 <br>
				 产地：{{country}}
				 <br>
				 类别：{{category}}
				 <br>
				 评分：{{douban_rating}}
				 <br>
				 片长：{{duration}}
				 <br>
				 导演：{{director}}
				 <br>
				 简介：{{profile}}
				 <br>
				 下载地址：{{down_load}}
				 <br>
                 电影截图：
                 <br>
                 <img src= '{{screenshot}}' />
				 <br>
				 <br>
				 用户评论：{{comment}}
			</p>
		</div>
	</div>
</div>
<br>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-8 column">
			<form id="user_comment" action="{{ url_for('post_movie_comment') }}" method="post">
				<div class="form-group">
                     <input type="text" value = '{{title}}' class="form-control" name="title" id="title"  />
				</div>

				<div class="form-group">
					 <label for="comment">您的评论：</label>
                     <input type="comment" class="form-control" name="comment" id="comment" placeholder="请输入您的评论" />
				</div>
			</form>
		</div>
		<div class="col-md-4 column">
			</br>
			</br>
			</br>
			</br>
			<button type="submit" class="btn btn-default" form="user_comment">提交</button>
		</div>
	</div>
</div>
{% endblock %}





