{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block title %}
    登录成功
{% endblock %}

{% block main %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table">
				<thead>
					<tr>
						<th>
							片名
						</th>
						<th>
							年代
						</th>
						<th>
							产地
						</th>
						<th>
							类别
						</th>
                        <th>
							评分
						</th>
                        <th>
							片长
						</th>
                        <th>
							导演
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{{movie0['title']}}
						</td>
						<td>
							{{movie0['year']}}
						</td>
						<td>
							{{movie0['country']}}
						</td>
						<td>
							{{movie0['category']}}
						</td>
                        <td>
							{{movie0['douban_rating']}}
						</td>
                        <td>
							{{movie0['duration']}}
						</td>
                        <td>
							{{movie0['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie1['title']}}
						</td>
						<td>
							{{movie1['year']}}
						</td>
						<td>
							{{movie1['country']}}
						</td>
						<td>
							{{movie1['category']}}
						</td>
                        <td>
							{{movie1['douban_rating']}}
						</td>
                        <td>
							{{movie1['duration']}}
						</td>
                        <td>
							{{movie1['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie2['title']}}
						</td>
						<td>
							{{movie2['year']}}
						</td>
						<td>
							{{movie2['country']}}
						</td>
						<td>
							{{movie2['category']}}
						</td>
                        <td>
							{{movie2['douban_rating']}}
						</td>
                        <td>
							{{movie2['duration']}}
						</td>
                        <td>
							{{movie2['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie3['title']}}
						</td>
						<td>
							{{movie3['year']}}
						</td>
						<td>
							{{movie3['country']}}
						</td>
						<td>
							{{movie3['category']}}
						</td>
                        <td>
							{{movie3['douban_rating']}}
						</td>
                        <td>
							{{movie3['duration']}}
						</td>
                        <td>
							{{movie3['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie4['title']}}
						</td>
						<td>
							{{movie4['year']}}
						</td>
						<td>
							{{movie4['country']}}
						</td>
						<td>
							{{movie4['category']}}
						</td>
                        <td>
							{{movie4['douban_rating']}}
						</td>
                        <td>
							{{movie4['duration']}}
						</td>
                        <td>
							{{movie4['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie5['title']}}
						</td>
						<td>
							{{movie5['year']}}
						</td>
						<td>
							{{movie5['country']}}
						</td>
						<td>
							{{movie5['category']}}
						</td>
                        <td>
							{{movie5['douban_rating']}}
						</td>
                        <td>
							{{movie5['duration']}}
						</td>
                        <td>
							{{movie5['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie6['title']}}
						</td>
						<td>
							{{movie6['year']}}
						</td>
						<td>
							{{movie6['country']}}
						</td>
						<td>
							{{movie6['category']}}
						</td>
                        <td>
							{{movie6['douban_rating']}}
						</td>
                        <td>
							{{movie6['duration']}}
						</td>
                        <td>
							{{movie6['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie7['title']}}
						</td>
						<td>
							{{movie7['year']}}
						</td>
						<td>
							{{movie7['country']}}
						</td>
						<td>
							{{movie7['category']}}
						</td>
                        <td>
							{{movie7['douban_rating']}}
						</td>
                        <td>
							{{movie7['duration']}}
						</td>
                        <td>
							{{movie7['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie8['title']}}
						</td>
						<td>
							{{movie8['year']}}
						</td>
						<td>
							{{movie8['country']}}
						</td>
						<td>
							{{movie8['category']}}
						</td>
                        <td>
							{{movie8['douban_rating']}}
						</td>
                        <td>
							{{movie8['duration']}}
						</td>
                        <td>
							{{movie8['director']}}
						</td>
					</tr>
					<tr>
						<td>
							{{movie9['title']}}
						</td>
						<td>
							{{movie9['year']}}
						</td>
						<td>
							{{movie9['country']}}
						</td>
						<td>
							{{movie9['category']}}
						</td>
                        <td>
							{{movie9['douban_rating']}}
						</td>
                        <td>
							{{movie9['duration']}}
						</td>
                        <td>
							{{movie9['director']}}
						</td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination">
				<li>
					 <a href="{{ url_for('get_movie_list') }}">Prev</a>
				</li>
				<li>
					 <a href="{{ url_for('get_movie_list') }}">1</a>
				</li>
				<li>
					 <a href="{{ url_for('get_movie_list_2') }}">2</a>
				</li>
				<li>
					 <a href="{{ url_for('get_movie_list_3') }}">3</a>
				</li>
				<li>
					 <a href="{{ url_for('get_movie_list_4') }}">4</a>
				</li>
				<li>
					 <a href="{{ url_for('get_movie_list_5') }}">5</a>
				</li>
				<li>
					 <a href="{{ url_for('get_movie_list_3') }}">Next</a>
				</li>
			</ul>
		</div>
	</div>
</div>

{% endblock %}